{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'learnwordseasy/style.css' %}">
</head>
<body>


{% for item in word_id %}
    {% if num_side == 1 %}
        <h1>{{ item.title1 }}</h1>
    {% else %}
        <h1>{{ item.title2 }}</h1>
    {% endif %}



{% endfor %}


<form method="post" action="{% url 'get_answer' %}" style="border: 3px solid red">
    {% csrf_token %}
    <form method="post" action="{% url 'get_answer' %}">
        {% csrf_token %}
        <input type="hidden" name="true_an" value="{{ true_ans }}">
        <input type="hidden" name="side" value="{{ num_side }}">
        <input type="hidden" name="answer" value="{{ word1 }}">
        <button CLASS="button1" type="submit">{{ word1 }}</button>
    </form>

    <form method="post" action="{% url 'get_answer' %}">
        {% csrf_token %}
        <input type="hidden" name="true_an" value="{{ true_ans }}">
        <input type="hidden" name="side" value="{{ num_side }}">
        <input type="hidden" name="answer" value="{{ word2 }}">
        <button CLASS="button2" type="submit">{{ word2 }}</button>
    </form>

    <form method="post" action="{% url 'get_answer' %}">
        {% csrf_token %}
        <input type="hidden" name="true_an" value="{{ true_ans }}">
        <input type="hidden" name="side" value="{{ num_side }}">
        <input type="hidden" name="answer" value="{{ word3 }}">
        <button CLASS="button3" type="submit">{{ word3 }}</button>
    </form>

    <form method="post" action="{% url 'get_answer' %}">
        {% csrf_token %}
        <input type="hidden" name="true_an" value="{{ true_ans }}">
        <input type="hidden" name="side" value="{{ num_side }}">
        <input type="hidden" name="answer" value="{{ word4 }}">
        <button CLASS="button4" type="submit">{{ word4 }}</button>
    </form>
</form>

</body>
</html>