{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'learnwordseasy/style.css' %}">
</head>
<body>
<h2>{{ get_example_word }}</h2>
<h3>{{ get_translate }}</h3>

<form method="post" action="{% url 'verification' %}">
    {% csrf_token %}
    {% for letters2 in word_in_list %}
        {% if letters2 not in letter %}
            <input type="text" name="{{ forloop.counter }}">
        {% else %}
            {{ letters2 }}
        {% endif %}
    {% endfor %}
    <br>
    <input type="hidden" name="word_in_list" value="{{ word_in_list }}">
    <input type="hidden" name="letter" value="{{ letter }}">
    <button type="submit">Проверить</button>
</form>

</body>
</html>